.bottom-portion-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 1rem;
    height: 10rem;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    padding: 20px;
    border-radius: 15px;
}


.login-link-button {
    max-width: 5rem;
    border-radius: 5px;
    padding: 5px;
}
